## Set your environment variables in this file. Rename it to .env and fill in the values.

# Notion
NOTION_TOKEN=your_notion_api_key_here
LEETCODE_DB_ID=your_database_id_here
INTERVIEW_PIPELINE_DB_ID=your_database_id_here

# Gmail
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/callback

# Claude
CLAUDE_API_KEY=your_claude_api_key_here